This is a how to guide for importing data from .csv file to Django database (SQLite). You will see example data classes. Please note that those classes are for demonstration only. You are free to create classes in the way you see fit the best. 

The end goal is to create a JSON data that will be used to import data by Django built-in command. The format we want is structured as below. (more detail check -> https://docs.djangoproject.com/en/5.1/howto/initial-data/)

```JSON
[
  {
    "model": "myapp.classname",
    "pk": 1,
    "fields": {
      "attribute_name1": "Value",
      "attribute_name2": "Value"
    }
  },
  {
    "model": "myapp.field",
    "pk": 2,
    "fields": {
      "field_id": "32",
      "field_name": "Corner"
    }
  }
]

```

In Python, you can assume that JSON is Dictionary-like data type. So, the overall step is .csv -> Pandas dataframe -> dictionary ->JSON. 

Let's start with importing necessary modules. In this case, we only need 2 modules. Then load data from .csv to Pandas dataframe (we did this before in lab 2).

In [1]:
# import python's module
import pandas as pd
import json

In [2]:
# load data
log_df = pd.read_csv("operation-log.csv")  
log_df
# _df stands for data frame. It is a common suffix to indicate variable type.

,date,operator,location,operation,note,Power Unit,Seeds planted,Seeding Rate (seeds/ac),Fertilizers applied,Fertilizer Rate (lb/ac)
0,4/24/2022,Evan,200,Spread/Spray,2-4D round up burn down,Hagie STS12,NaN,NaN,NaN,NaN
1,4/27/2022,Bryan,6,Spread/Spray,"20oz ru, 11 24d",Hagie STS12,NaN,NaN,NaN,NaN
2,4/27/2022,Bryan,5,Spread/Spray,20 oz ru/ 11 oz 24d,Hagie STS12,NaN,NaN,NaN,NaN
3,4/27/2022,Bryan,Cotton,Spread/Spray,20 oz ru. 11 oz 24d,Hagie STS12,NaN,NaN,NaN,NaN
4,4/27/2022,Bryan,101,Spread/Spray,20 oz ru 11 oz 24d,Hagie STS12,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
428,11/17/2022,Ceres,105,Spread/Spray,VRF MAP: 153 lbs/ac\r\nVRF Potash: 133 lbs/ac,NaN,NaN,NaN,"MAP,Potash (0-0-60)",NaN
429,11/17/2022,Ceres,111,Spread/Spray,VRF MAP: 139 lbs/ac\r\nVRF Potash: 121 lbs/ac,NaN,NaN,NaN,"MAP,Potash (0-0-60)",NaN
430,11/17/2022,Ceres,33,Spread/Spray,VRF MAP: 154 lbs/ac,NaN,NaN,NaN,MAP,NaN
431,11/17/2022,Ceres,41,Spread/Spray,VRF MAP: 115.8 lbs/ac,NaN,NaN,NaN,MAP,NaN
432,11/17/2022,Ceres,5,Spread/Spray,MAP: 240 lbs/ac\r\nPotash: 225 lbs/ac,NaN,NaN,NaN,"MAP,Potash (0-0-60)",NaN

First data class I want to create is event class ass below. As you can see that I created a class with attributes that we don't have data. That is okay, we can leave those attributes optional by adding `blank=True, null=True` (more detail here -> https://docs.djangoproject.com/en/5.1/ref/models/fields/#field-options).

```python 
class event(models.Model):
    # event_date = models.DateTimeField(default=datetime.now, blank=True)
    event_operator = models.CharField(max_length=50)
    event_operation = models.CharField(choices=EVENT_TYPES, max_length=10)
    event_operator = models.CharField(max_length=30)

    def __str__(self):
        return self.event_id
```

You can think of a database class as a table. So, let's create an `event` table (dataframe). We will use Pandas' Unique fucntion to see how many event rows we need to create. (more detail about unique function -> https://pandas.pydata.org/docs/reference/api/pandas.unique.html)

In [6]:
# ! check this DK
log_df['operation'].unique() # find a unique value in dataframe's `event` column

array(['Spread/Spray', 'Tillage', 'Plant', 'Harvest', 'Soil Sampled'],
      dtype=object)

The result from unique function is an array which is iterable. We will iterate over the array and create a dataframe. There are several ways to create a dataframe. But I recommend doing by using a list of dict or a dict of list. I will show you the first case.

In [8]:
# create a list which we will add dictionaries later
event = [] # suffix s is common way to indicate a list (array)

# ! check this DK
for operation in log_df['operation'].unique(): # we iterate over the result from unique function
    event.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "operation": operation, # each key-value pair
        } # the end of dictionary
    )
event # check the outcome

[{'operation': 'Spread/Spray'},
 {'operation': 'Tillage'},
 {'operation': 'Plant'},
 {'operation': 'Harvest'},
 {'operation': 'Soil Sampled'}]

Now we have a list of dictionaries. Making a dataframe is just one function. Note that I leave `lastname` and `phone` emtyp. This is an explicit way to work with optional attribute. You can also just ignore that attribute like I did with `middlename`. You will get the same outcome.

In [36]:
# create a dataframe
event_df = pd.DataFrame(event)
event_df

      operation
0  Spread/Spray
1       Tillage
2         Plant
3       Harvest
4  Soil Sampled

The next step is to structure the data as required (check data format above). We will need to add `model` which is the class's name in the database. And `pk` or primary key which is the row's index. We want JSON at the end, but JSON is pretty much like dictionary in Python. So, we just need to create a (list of) dictionary.

In [44]:
events = [] # create an empty list
for index, row in event_df.iterrows(): # we iterate over the dataframe row by row
    events.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "model": "acrelog.operation",  # the class name
            "pk": index+1, # index starts at 0 while primary key starts at 1. 
            "fields": { # this is a dictionary of attributes
                "operation": row['operation'] # only need firstname for now
            }
        } # the end of dictionary
    )
events # see the result

[{'model': 'acrelog.operation',
  'pk': 1,
  'fields': {'operation': 'Spread/Spray'}},
 {'model': 'acrelog.operation', 'pk': 2, 'fields': {'operation': 'Tillage'}},
 {'model': 'acrelog.operation', 'pk': 3, 'fields': {'operation': 'Plant'}},
 {'model': 'acrelog.operation', 'pk': 4, 'fields': {'operation': 'Harvest'}},
 {'model': 'acrelog.operation',
  'pk': 5,
  'fields': {'operation': 'Soil Sampled'}}]

Now we have the data in the format that we need. To convert into JSON, you can just run the following command. Then you can copy the result and check with https://jsonlint.com/

'[{"model": "acrelog.operation", "pk": 1, "fields": {"operation": "Spread/Spray"}}, {"model": "acrelog.operation", "pk": 2, "fields": {"operation": "Tillage"}}, {"model": "acrelog.operation", "pk": 3, "fields": {"operation": "Plant"}}, {"model": "acrelog.operation", "pk": 4, "fields": {"operation": "Harvest"}}, {"model": "acrelog.operation", "pk": 5, "fields": {"operation": "Soil Sampled"}}]'

In [46]:
json.dumps(events)
# or write the JSON to the file directly 
with open('operation-data.json', 'w') as fp:
    json.dump(events, fp=fp, indent=4)

You might wonder why we create a dictionary then convert into a dataframe just for turn it into a dictionary again. Can you just make a dictionary that follows the required stucture directly? Absolutely yes. In some cases, that will be the better way to deal with the data. But there is a usecase for a dataframe as well. You will see it soon. For now, let's create another data class. 

```python
class Operation(models.Model):
    date = models.DateField()
    note = models.CharField(max_length=300, blank=True, null=True)
    event = models.ForeignKey(event, on_delete=models.CASCADE)
```
In this class, it has a foreignkey that points to event class. So, instead of recording event name, we will keep the primary key that points to that event. For better understanding, I will trim the original dataframe to keep only the data that we will play with.

In [41]:
# you can subset the dataframe with any columns (and order)
sub_log_df = log_df[['date', 'operation', 'note']]
sub_log_df

           date     operation                                           note
0     4/24/2022  Spread/Spray                       2-4D round up burn down
1     4/27/2022  Spread/Spray                                20oz ru, 11 24d
2     4/27/2022  Spread/Spray                            20 oz ru/ 11 oz 24d
3     4/27/2022  Spread/Spray                            20 oz ru. 11 oz 24d
4     4/27/2022  Spread/Spray                             20 oz ru 11 oz 24d
..          ...           ...                                            ...
428  11/17/2022  Spread/Spray  VRF MAP: 153 lbs/ac\r\nVRF Potash: 133 lbs/ac
429  11/17/2022  Spread/Spray  VRF MAP: 139 lbs/ac\r\nVRF Potash: 121 lbs/ac
430  11/17/2022  Spread/Spray                            VRF MAP: 154 lbs/ac
431  11/17/2022  Spread/Spray                          VRF MAP: 115.8 lbs/ac
432  11/17/2022  Spread/Spray          MAP: 240 lbs/ac\r\nPotash: 225 lbs/ac

[433 rows x 3 columns]

We will use the map function (more detail -> https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html) to map from the event's name to primary key. The map functions take several options. But we will use dictionary. The dictionary we want has event's names as keys and primary keys as values. Do you feel that this structure looks familar. Yes, that is the event dataframe that we created earlier.

In [83]:
event_df
event_df.to_dict()
event_df.to_dict()['operation']
index_name = event_df.to_dict()['operation']
name2pk = dict((v, k+1) for k, v in index_name.items())
print(name2pk)

# add a new column 'Event#' to the event_df
sub_log_df['Event#'] = sub_log_df.index + 1
sub_log_df['operation'] = sub_log_df['operation'].map(name2pk) 
pd.to_datetime(sub_log_df['date'])
sub_log_df['date'] = pd.to_datetime(sub_log_df['date']).dt.strftime('%Y-%m-%d')
sub_log_df

{'Spread/Spray': 1, 'Tillage': 2, 'Plant': 3, 'Harvest': 4, 'Soil Sampled': 5}

KeyError: 'operation'

As I mentioned earlier, dataframe is made from a list of dictionaries or a dictionary of lists. We can convert it back as well.

The format you see above is a dictionary of list. We want to use firstname to map with primary key (or dataframe's index). So we will only care about the `firstname`.

Almost done. We want a dictionary that keys are firstname and values are primary keys. But what we got is opposite. No problem, we just need to inverse it (and add 1 to pandas' index to make it become primary key)

We got it. Now, let map the event's name to primary key.

Before we make the final dictionary, we need to deal with date format. Django's SQLite expects `YYYY-MM-DD` format. So, we need to fix our date column a little bit. What you see is only string (a series of charactor). Python has a date (or datetime) variable for dealing with this type of data. Date data type is numerial. So, we can do calulation and also, in our case, format in the way we want. First, we need to convert string to datetime.

As you can see, we have a date column which we can do many thing on it. But we will just convert it back into string (with the format that we want). Then we will make a dictionary and JSON. The function we use is `strftime` (string from time).

Now, we have everything ready. Let's create the final dictionary.

In [54]:
logs = []
for index, row in sub_log_df.iterrows():
    logs.append({
        "model": "acrelog.event",
        "pk": index+1,
        "fields": {
            # "primary_key": row['Event#'],
            "date": row['date'],
            "event": row['operation'],
            "note": row['note'],
        }
    })
logs

json.dumps(logs)
# or write the JSON to the file directly 
with open('event-data.json', 'w') as fp:
    json.dump(logs, fp=fp, indent=4)

You can dump the dictionary to JSON then load the JSON file to the database.

In [59]:
# create a list which we will add dictionaries later
operator_list = [] # suffix s is common way to indicate a list (array)

# ! check this DK
for indv in log_df['operator'].unique(): # we iterate over the result from unique function
    location_list.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "location": indv, # each key-value pair
        } # the end of dictionary
    )

location_df = pd.DataFrame(location_list)

locations = [] # create an empty list
for index, row in location_df.iterrows(): # we iterate over the dataframe row by row
    locations.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "model": "acrelog.location",  # the class name
            "pk": index+1, # index starts at 0 while primary key starts at 1. 
            "fields": { # this is a dictionary of attributes
                "location_name": row['location'] # only need firstname for now
            }
        } # the end of dictionary
    )

json.dumps(locations)
# or write the JSON to the file directly 
with open('location-data.json', 'w') as fp:
    json.dump(locations, fp=fp, indent=4)

In [60]:
# create a list which we will add dictionaries later
operator_list = [] # suffix s is common way to indicate a list (array)

# ! check this DK
for indv in log_df['operator'].unique(): # we iterate over the result from unique function
    operator_list.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "operator": indv, # each key-value pair
        } # the end of dictionary
    )

operator_df = pd.DataFrame(operator_list)

operators = [] # create an empty list
for index, row in operator_df.iterrows(): # we iterate over the dataframe row by row
    operators.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "model": "acrelog.operator",  # the class name
            "pk": index+1, # index starts at 0 while primary key starts at 1. 
            "fields": { # this is a dictionary of attributes
                "operator_name": row['operator'] # only need firstname for now
            }
        } # the end of dictionary
    )

json.dumps(operators)
# or write the JSON to the file directly 
with open('operator-data.json', 'w') as fp:
    json.dump(operators, fp=fp, indent=4)

In [63]:
# create a list which we will add dictionaries later
Power_Unit_list = [] # suffix s is common way to indicate a list (array)

# ! check this DK
for indv in log_df['Power Unit'].unique(): # we iterate over the result from unique function
    Power_Unit_list.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "Power Unit": indv, # each key-value pair
        } # the end of dictionary
    )

Power_Unit_df = pd.DataFrame(Power_Unit_list)

Power_Units = [] # create an empty list
for index, row in Power_Unit_df.iterrows(): # we iterate over the dataframe row by row
    Power_Units.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "model": "acrelog.spray",  # the class name
            "pk": index+1, # index starts at 0 while primary key starts at 1. 
            "fields": { # this is a dictionary of attributes
                "powerunit_type": row['Power Unit'] # only need firstname for now
            }
        } # the end of dictionary
    )

json.dumps(Power_Units)
# or write the JSON to the file directly 
with open('Power_Unit-data.json', 'w') as fp:
    json.dump(Power_Units, fp=fp, indent=4)

In [88]:

powerunits = []
# ! check this DK
for powerunit in log_df['Power Unit'].unique(): # we iterate over the result from unique function
    powerunits.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "powerunit_type": powerunit, # each key-value pair
        } # the end of dictionary
    )

for k in range(len(powerunits)):
    powerunits[k] = [powerunits[k].get('powerunit_type'), k+1]
print(powerunits)
# convert the list to a dict
powerunits = dict(powerunits)
print(powerunits)



# you can subset the dataframe with any columns (and order)
sub_log_df = log_df[['Seeds planted', 'Seeding Rate (seeds/ac)']]
# if whole row is 'NaN', drop the row
sub_log_df = sub_log_df.dropna(how='all')
# replace 'NaN' with 0
sub_log_df = sub_log_df.fillna(0)

# add a new column 'Event#' to the event_df
# sub_log_df['Event#'] = sub_log_df.index + 1
# pd.to_datetime(sub_log_df['date'])
# sub_log_df['date'] = pd.to_datetime(sub_log_df['date']).dt.strftime('%Y-%m-%d')
sub_log_df
# drop duplicates
sub_log_df = sub_log_df.drop_duplicates()

logs = []
for index, row in sub_log_df.iterrows():
    logs.append({
        "model": "acrelog.seed",
        "pk": index+1,
        "fields": {
            "seed_planted": row['Seeds planted'],
            "seed_rate": row['Seeding Rate (seeds/ac)'],
        }
    })
logs

json.dumps(logs)
# or write the JSON to the file directly 
with open('seed-data.json', 'w') as fp:
    json.dump(logs, fp=fp, indent=4)

[['Hagie STS12', 1], [nan, 2], ['4555', 3], ['8245R', 4], ['4240', 5], ['8R370', 6], ['Not applicable', 7], ['Case Magnum', 8], ['4440', 9], ['Gator', 10], ['6400 Cab', 11], ['S660', 12], ['8R370X', 13]]
{'Hagie STS12': 1, nan: 2, '4555': 3, '8245R': 4, '4240': 5, '8R370': 6, 'Not applicable': 7, 'Case Magnum': 8, '4440': 9, 'Gator': 10, '6400 Cab': 11, 'S660': 12, '8R370X': 13}

In [93]:
fertilizers = []
# ! check this DK
for fertilizer in log_df['Fertilizers applied'].unique(): # we iterate over the result from unique function
    fertilizers.append( # append new element to the list
        { # curly bracket indicate the starting of dictionary
            "fertilizer": fertilizer, # each key-value pair
        } # the end of dictionary
    )

for k in range(len(fertilizers)):
    fertilizers[k] = [fertilizers[k].get('fertilizer'), k+1]
print(fertilizers)
# convert the list to a dict
fertilizers = dict(fertilizers)
print(fertilizers)



# you can subset the dataframe with any columns (and order)
sub_log_df = log_df[['Fertilizers applied', 'Fertilizer Rate (lb/ac)']]
# if whole row is 'NaN', drop the row
sub_log_df = sub_log_df.dropna(how='all')
# replace 'NaN' with 0
sub_log_df = sub_log_df.fillna(0)

# add a new column 'Event#' to the event_df
# sub_log_df['Event#'] = sub_log_df.index + 1
# pd.to_datetime(sub_log_df['date'])
# sub_log_df['date'] = pd.to_datetime(sub_log_df['date']).dt.strftime('%Y-%m-%d')
sub_log_df
# drop duplicates
sub_log_df = sub_log_df.drop_duplicates()

logs = []
for index, row in sub_log_df.iterrows():
    logs.append({
        "model": "acrelog.fertilizer",
        "pk": index+1,
        "fields": {
            "fertilizer_type": row['Fertilizers applied'],
            "fertilizer_rate": row['Fertilizer Rate (lb/ac)'],
        }
    })
logs

json.dumps(logs)
# or write the JSON to the file directly 
with open('fertilizer-data.json', 'w') as fp:
    json.dump(logs, fp=fp, indent=4)

[[nan, 1], ['ATS', 2], ['28% UAN ', 3], ['10-34-0', 4], ['10-34-0,28% UAN ,Other - refer to notes', 5], ['28% UAN ,ATS', 6], ['MAP,Potash (0-0-60)', 7], ['Potash (0-0-60)', 8], ['Potash (0-0-60),MAP', 9], ['Lime', 10], ['MAP', 11]]
{nan: 1, 'ATS': 2, '28% UAN ': 3, '10-34-0': 4, '10-34-0,28% UAN ,Other - refer to notes': 5, '28% UAN ,ATS': 6, 'MAP,Potash (0-0-60)': 7, 'Potash (0-0-60)': 8, 'Potash (0-0-60),MAP': 9, 'Lime': 10, 'MAP': 11}